<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright (c) 2008-2012, Hazel Bilisim Ltd. All Rights Reserved. ~ 
	~ Licensed under the Apache License, Version 2.0 (the "License"); ~ you may 
	not use this file except in compliance with the License. ~ You may obtain 
	a copy of the License at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 ~ 
	~ Unless required by applicable law or agreed to in writing, software ~ distributed 
	under the License is distributed on an "AS IS" BASIS, ~ WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. ~ See the License for 
	the specific language governing permissions and ~ limitations under the License. -->

<hazelcast
    xsi:schemaLocation="http://www.hazelcast.com/schema/config hazelcast-config-3.0.xsd"
    xmlns="http://www.hazelcast.com/schema/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <group>
    <name>{{orientdb_hazelcast_name}}</name>
    <password>{{orientdb_hazelcast_password}}</password>
  </group>
  <network>
    <port auto-increment="true">{{orientdb_hazelcast_port}}</port>
    <join>
{% if orientdb_hazelcast_multicast_enabled %}
      <multicast enabled="true">
	<multicast-group>{{orientdb_hazelcast_multicast_group}}</multicast-group>
	<multicast-port>{{orientdb_hazelcast_multicast_port}}</multicast-port>
      </multicast>
{% endif %}
{% if orientdb_hazelcast_tcp_enabled and 'orientdb' in groups %}
      <multicast enabled="false" />
      <tcp-ip enabled="{{orientdb_hazelcast_tcp_enabled | to_json}}">
{% for peer in groups['orientdb'] %}
	<member>{{hostvars[peer]['ansible_' + orientdb_hazelcast_tcp_network_interface]['ipv4']['address']}}</member>
{% endfor %}
      </tcp-ip>
{% endif %}
    </join>
  </network>
  <executor-service>
    <pool-size>{{orientdb_hazelcast_executor_service_pool_size}}</pool-size>
  </executor-service>
</hazelcast>
